body {
  margin: 0 auto;
  text-align: center;
  color: #1D4F68;
  background-color: white;
}

.logo {
  height: 60px;
  padding: 0;
}

.main-container {
  max-width: 1280px;
  padding: 32px;
}

.nav-link.active {
  color: #FF83C9;
}

.main-nav {
  background-color: #d5e0e6;
  color: #1D4F68;
  margin-bottom: 40px;
}

.logo {
  color: #1D4F68;
}

.image {
  border-radius: 6px;
}

.home-image {
  margin-bottom: 70px;
}

.home-image img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 6px;
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
}

.home-content.reverse {
  grid-template-columns: 1fr 1fr;
  direction: rtl;
}

.home-content.reverse * {
  direction: ltr;
}

.contact-container{
margin-top: 50px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 16px;
  padding-bottom: 100px;
}

.contact-form input,
.contact-form textarea {
  border: none;
  outline: none;
  font-size: 14px;
  background: #d5e0e6;
  padding: 15px;
  border-radius: 4px;
}

.contact-form textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.contact-form .send-btn {
  width: 120px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  color: #d5e0e6;
  background: #1D4F68;
  cursor: pointer;
}

.contact-form .send-btn:hover {
  background: #FF83C9;
  transition: 0.3s all linear;
  color: #1D4F68;
}

.contact-image{
  width: 350px;
  height: auto;
}

.about-section {
  position: relative;
}

.bg-image {
  width: 100%;
  height: auto;
}

.about-info {
  position: absolute;
  top: 70px;
  left: 0;
  width: 50%;
  color: #1D4F68;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.about-info h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-info p {
  margin: 0;
}

.footer-links{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-links a{
  color: #1D4F68;
  text-decoration: none;
}

.footer-links a:hover{
  color: #FF83C9;
}
