body {
  margin: 0 auto;
  text-align: center;
  color: #1D4F68;
}
.main-container {
  max-width: 1280px;
  padding: 2rem;
}

.nav-link.active {
  color: #f47291 !important;
}

.main-nav{
  background-color: #d5e0e6 !important;
  color: #1D4F68;
  margin-bottom: 40px ;
}

.logo{
  color: #1D4F68;
}

.image{
  border-radius: 6px;
}

.home-image{
  margin-bottom: 50px;
}

.home-image img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.home-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  align-items: center;
  margin-bottom: 50px;
  gap: 20px;
}